.close-btn-div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    margin: 1em 0 2em 0;
}

.edit-post-modal {
    left: 0%;
    top: 25%;
    width: 100%;
    max-width: 400px;
    height: 35vh;
    position: absolute;
    z-index: 5;
    background-color: rgba(18, 119, 235, .99);
    border-radius: 3px;
    box-shadow: 10px 5px 10px 5px black;
}

.edit-post-form {
    width: 80%;
    max-width: 300px;
    padding: 0.75em;
    margin: auto;
}

.edit-post-form input {
    width: 100%;
    margin-bottom: .5em;
    height: 2em
}

.edit-post-form button {
    width: 5em;
    border-radius: 5px;
    height: 2em;
    border: none;


}

.edit-post-form button:hover {
    background-color: lightseagreen;


}

.closeModalBtn {
    margin-right: .5em;
    width: 3em;
    border-radius: 3px;
}

.closeModalBtn:hover {
    background-color: red;
}


@media only screen and (min-width: 400px) {
    .edit-post-modal {
        max-height: 40vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}